.bigborder {
    border-style: outset;
    border-width: 8px;
    border-radius: 8px;
}
.container {
    margin: 2.0rem;
    padding: 1.5rem;
    display: inline-block;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > span {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}
label {
    text-align: right;
    width: 100px;
}
input {
    width: 300px;
    margin-left: 2rem;
}
td, th {
    padding: 0.5rem;
    border: black 1px solid;
}
