{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>
        <center>Eliminar Laboratorio</center>
    </h1>

    <p>¿Estás seguro que deseas eliminar el laboratorio: "{{lab.nombre}}"?</p>
    <a href="{% url 'read' %}"><- Retornar</a>
    <div>
        <form style="display: block;" action="{% url 'proceed_deletion' lab.id %}">
            {% csrf_token %}
            <button style="margin-top: 1em;" type="submit">Confirmar</button>
        </form>
        
    </div>
{% endblock %}