{% extends 'base.html' %}
{% load static %}
{% block content %}
    <center>
        <h1>Bienvenido</h1>
        <a href="{% url 'create' %}">Añadir un laboratorio</a>
        <br>
        <a href="{% url 'read' %}">Ver información de los laboratorios</a>
    </center>
{% endblock %}