{% extends 'base.html' %}
{% load static %}
{% block content %}
    <center>
        <h1>Información de Laboratorios</h1>
        <div class="container bigborder">
            <table >
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ciudad</th>
                        <th>Pais</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lab in labs %}
                        <tr>
                            <td>{{ lab.nombre }}</td>
                            <td>{{ lab.ciudad }}</td>
                            <td>{{ lab.pais }}</td>
                            <td><a href="{% url 'update' lab.id %}">Actualizar</a></td>
                            <td><a href="{% url 'delete' lab.id %}">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </center>

    <p>¿Información de los Laboratorios?</p>
    <a href="{% url 'index' %}"><- Ir a la página de Inicio</a>
    <p>Usted ha visitado esta pagina <strong>{{views}}</strong> veces.</p>
{% endblock %}