{% extends 'base.html' %}
{% load static %}
{% block content %}
    <center>
        <h1>Actualizar Laboratorio</h1>
        <div class="container bigborder">
            <form method="POST" action="">
                {% csrf_token %}
                <span>
                    <label for="nombre"><Strong>Nombre:</Strong></label>
                    {{form.nombre}}
                </span>
                <span>
                    <label for="ciudad"><Strong>Ciudad:</Strong></label>
                    {{form.ciudad}}
                </span>
                <span>
                    <label for="pais"><Strong>País:</Strong></label>
                    {{form.pais}}
                </span>
                <span>
                    <button type="submit">Enviar</button>
                </span>
            </form>
        </div>
    </center>

    <p>¿Información de los Laboratorios?</p>
    <a href="{% url 'read' %}">Ir a información de los laboratorios -></a>
{% endblock %}